<div class="container">
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left: 27%;font-size: 60px;">Flight Management</p>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/addAirport">Add Airport</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/findAirport">Find Airport</a>
            </li>
            <li class="navbar-item">
               <a class="navbar-brand" routerLink="/findAllAirports">All Airports</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/addSchedule">Add Schedule</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-brand" routerLink="/findSchedule">Find Schedule</a>
            </li>
            <li class="navbar-item">
               <a class="navbar-brand" routerLink="/findAllSchedules">All Schedules</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>